@model Melidya.Entities.Customer

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateProfile</h2>
@using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post))
{



<table>
    <tr>
        <td>Contact Name:</td>
        <td>@Html.TextBoxFor(x => x.ContactName, new { @class = "form - text text - muted form-control" })</td>
    </tr>
    <tr>
        <td>Contact Title:</td>
        <td> @Html.TextBoxFor(x => x.ContactTitle, new { @class = "form - text text - muted form-control" })</td>
    </tr>
    <tr>
        <td>Company Name:</td>
        <td>  @Html.TextBoxFor(x => x.CompanyName, new { @class = "form - text text - muted form-control" })</td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td>@Html.TextBoxFor(x => x.Phone, new { @class = "form - text text - muted form-control" })</td>
    </tr>
    <tr>
        <td>Adress:</td>
        <td>@Html.TextBoxFor(x => x.Address, new { @class = "form - text text - muted form-control " })</td>
    </tr>
    <tr>
        <td>City:</td>
        <td> @Html.TextBoxFor(x => x.City, new { @class = "form - text text - muted form-control" })</td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>@Html.TextBoxFor(x => x.Country, new { @class = "form - text text - muted form-control" })</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>@Html.TextBoxFor(x => x.Password, new { @class = "form - text text - muted form-control" })</td>
    </tr>
</table>

    <button type="submit" class="btn btn-primary">Güncelle</button>

    @Html.HiddenFor(x => x.CustomerID)

}