@model Melidya.Entities.Customer

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserProfile</h2>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Name: @Model.ContactName</li>
    <li class="list-group-item">Title: @Model.ContactTitle</li>
    <li class="list-group-item">Company Name: @Model.CompanyName</li>
    <li class="list-group-item">Phone: @Model.Phone</li>
    <li class="list-group-item">Adress: @Model.Address</li>
    <li class="list-group-item">City: @Model.City</li>
    <li class="list-group-item">Country @Model.Country</li>
</ul>
<a href="/Profile/UpdateProfile" class="btn btn-success">Güncelle</a>