@model Melidya.Entities.Customer

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserProfile</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.CustomerID</th>
            <td>@Model.ContactName</td>
            <td>@Model.ContactTitle</td>
            <td>@Model.CompanyName</td>
            <td>@Model.Phone</td>
            <td>@Model.Country</td>
            <td>@Model.City</td>
            <td>@Model.Address</td>
        </tr>
    </tbody>
</table>