@using Melidya.Entity

@model IEnumerable<OrderModel>

@{
    Employees emp = null;
    if (Session["Login"] != null)
    {
        emp = Session["Login"] as Employees;
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="/Order/StatusConfirm/@item.OrderID" style=" visibility:@ViewBag.OnaylaVisibility" class="btn btn-success">Onayla</a>
            <a href="/Order/StatusCargo/@item.OrderID" style="visibility:@ViewBag.KargolaVisibility" class="btn btn-primary">Kargola</a>
        </td>
    </tr>
    }
</table>

