@using Melidya.ENTITY
@model Products

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    <h4>Add Product Panel</h4>
    <hr />
    <div class="form-group col-md-10">
        <div class="col-md-2">
            @Html.LabelFor(x => x.CategoryID, "Category Name: ", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(x => x.CategoryID, ViewBag.Categories as List<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-10">
        <div class="col-md-2">
            @Html.LabelFor(x => x.SupplierID, "Supplier Name: ", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(x => x.SupplierID, ViewBag.Suppliers as List<SelectListItem>)
        </div>
    </div>
    <div class="form-group col-md-10">
        <div class="col-md-2">
            @Html.LabelFor(x => x.UnitPrice, "Unit Price: ", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-10">
        <div class="col-md-2">
            @Html.LabelFor(x => x.UnitsInStock, "Unit In Stock: ", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-10">
        <div class="col-md-2">
            @Html.LabelFor(x => x.QuantityPerUnit, "Quantity Per Unit: ", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.QuantityPerUnit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuantityPerUnit, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Product" class="btn btn-default" />
        </div>
    </div>
</div>
}


